version: "3"
services:
  selenium:
    image: selenium/standalone-chrome:115.0
    ports:
      - "4444:4444"

  tests:
    image: python:3.11-slim
    working_dir: /work
    volumes:
      - ./:/work
    depends_on:
      - selenium
    environment:
      - REMOTE_URL=http://selenium:4444/wd/hub
      - BASE_URL=http://uni-room-booking-des-website.s3-website-ap-southeast-1.amazonaws.com/
      - USERNAME=testuser123
      - PASSWORD=testpass123
    command: bash -lc "pip install -r requirements.txt && robot -v REMOTE_URL:${REMOTE_URL} -v BASE_URL:${BASE_URL} -v USERNAME:${USERNAME} -v PASSWORD:${PASSWORD} tests/your_test.robot"
